<style>
  #footer{
    height: 200px;
    background-color: #ccc;
    /* $primary: ; */

    border-top: 1px solid #8589E6;
    width: 100%;
    margin-top: 50px;
    padding-top: 30px;
    color: #555;
  }
</style>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Footer</h1>
        <div class="text-center">TODO: Additional Text/links here</div>
      </div>
    </div>
  </div>
</div>
