<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Footer</h1>
        <div class="text-center">TODO: Additional Text/links here</div>
      </div>
    </div>
  </div>
</div>
