---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40test.com&source=tok_mastercard
    headers:
      Authorization:
      - Bearer sk_test_g8WBO50APg0ILlbTMRpcPYiP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_E4DCx7FleBolg2",
          "object": "customer",
          "account_balance": 0,
          "created": 1543556578,
          "currency": null,
          "default_source": "card_1Dc4mEByuh66yo7xSirB6CQ3",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@test.com",
          "invoice_prefix": "4B4733A",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Dc4mEByuh66yo7xSirB6CQ3",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "MasterCard",
                "country": "US",
                "customer": "cus_E4DCx7FleBolg2",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2019,
                "fingerprint": "kTYOXUtSnlkcQHJd",
                "funding": "credit",
                "last4": "4444",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_E4DCx7FleBolg2/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_E4DCx7FleBolg2/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Fri, 30 Nov 2018 05:42:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_E4DCx7FleBolg2&amount=20000&description=Description&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_g8WBO50APg0ILlbTMRpcPYiP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1Dc4mEByuh66yo7xA9QOjtud",
          "object": "charge",
          "amount": 20000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1Dc4mEByuh66yo7xw1ihwT7w",
          "captured": true,
          "created": 1543556578,
          "currency": "usd",
          "customer": "cus_E4DCx7FleBolg2",
          "description": "Description",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 21,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1Dc4mEByuh66yo7xA9QOjtud/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1Dc4mEByuh66yo7xSirB6CQ3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "MasterCard",
            "country": "US",
            "customer": "cus_E4DCx7FleBolg2",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "kTYOXUtSnlkcQHJd",
            "funding": "credit",
            "last4": "4444",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 30 Nov 2018 05:42:59 GMT
recorded_with: VCR 4.0.0
