---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40test.com&source=tok_mastercard
    headers:
      Authorization:
      - Bearer sk_test_g8WBO50APg0ILlbTMRpcPYiP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_E4D3SUJ4h1RAYP",
          "object": "customer",
          "account_balance": 0,
          "created": 1543556006,
          "currency": null,
          "default_source": "card_1Dc4d0Byuh66yo7xV4TFMmxL",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@test.com",
          "invoice_prefix": "F9AED0A",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Dc4d0Byuh66yo7xV4TFMmxL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "MasterCard",
                "country": "US",
                "customer": "cus_E4D3SUJ4h1RAYP",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2019,
                "fingerprint": "kTYOXUtSnlkcQHJd",
                "funding": "credit",
                "last4": "4444",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_E4D3SUJ4h1RAYP/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_E4D3SUJ4h1RAYP/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Fri, 30 Nov 2018 05:33:27 GMT
recorded_with: VCR 4.0.0
