<p>
  An account for you has been created at <%= link_to t('app.name'), root_url %>.
  You can sign in with the link and credentils below.
</p>

<p>
  u: <%= @user.email %><br>
  p: <%= @password %>
</p>

<p>
  <%= link_to 'Sign in', new_user_session_url, class: 'cta' %>
</p>

<p>
  You may change this password at any time with the forgotten password link.
</p>
