<% event = @charge.event %>

<div class="content">
  <p>
    <%= @charge.email %> has gifted you a copy of your live stream video from 
    <%= t('app.name') %>. You can Download a copy from any computer by clicking the link below.
  </p>

  <p>
    <%= link_to 'Download',
                download_event_url(event, token: event.download_token),
                class: 'cta' %>
  </p>
</div>
