<h1><%= current_user.facility.id %></h1>
<%= current_user.role %>
<div class="container">
  <h1>
    New User
    <small>for <%= @facility.name %></small>
  </h1>
  <%= render partial: 'form', locals: {user: @user} %>
</div>
