<div id="user">
  <div id="new_event" class="container">
    <h1>Create a <%= I18n.t 'app.name' %> Event</h1>
    <%= render partial: 'events/form', locals: {event: @event} %>
  </div>

  <div id="events" class="container">
    <h1><%= I18n.t 'app.name' %>Events</h1>
    <ul id="event_list">
      <% @user.events.each do |event| %>
        <li>
          <%= link_to 'event', event %>
        </li>
      <% end %>
    <ul>
  </div>
</div>
