<div id="facilities">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'New', new_facility_path, class: 'btn btn-primary float-right' %>
        <h1>Facilities</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <table id="facilities_table" class="table table-striped sortable_table">
        <thead class="thead-dark">
          <tr>
            <th data-sorter="name"><span>Name</span></th>
            <th data-sorter="phone"><span>Phone</span></th>
            <th data-sorter="address.street"><span>Street</span></th>
            <th data-sorter="address.street2"><span>Street2</span></th>
            <th data-sorter="address.city"><span>City</span></th>
            <th data-sorter="address.state"><span>State</span></th>
            <th data-sorter="address.zip"><span>Zip</span></th>
            <th data-sorter="address.timezone"><span>Timezone</span></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function(){
    let facilities = <%== render template: 'facilities/index.json',
                          locals: {facilities: @facilities} %>;

    Facilities.init(facilities);
  });
</script>
