<div id="facilities">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Facilities</h1>
        <%= link_to 'New', new_facility_path, class: 'btn btn-primary pull-right' %>

        <table id="facilities_table" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  let facilities = [
    <% @facilities.each do |facility| %>
      {
        name: "<%= j facility.name %>"
      },
    <% end %>
  ];

  $(document).ready(function(){
    Facilities.init(facilities);
  });
</script>
