<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if user_can?('admin') || @event.user == current_user %>
        <div class="float-right">
          <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %>
        </div>
      <% end %>

      <% unless @paid %>
        <%= render partial: 'charges/form',
                   locals: {callback: event_url(@event)} %>
      <% end %>
    </div>
  </div>
</div>
