<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New', new_event_path, class: 'btn btn-primary float-right' %>
      <h1>
        Events
        <small>for <%= @facility.name %></small>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <% @events.each do |e| %>
        <%= e.inspect %><br>
      <% end %>
    </div>
  </div>
</div>
