<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'New', new_event_path, class: 'btn btn-primary float-right' %>
        <h2>
          Appointments
          <small>for <%= @facility.name %></small>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'list', locals: {events: @events} %>
      </div>
    </div>
  </div>
</div>
