<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Create a New Appointment
        <small>for <%= @facility.name %></small>
      </h1>
    </div>
  </div>

  <%= render 'form', event: @event, users: @users %>
</div>
