.click_to_copy{
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.header_image{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
