#sign_in{
  background-image: image_url('backgrounds/sign_in');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  #devise_shared_links{
    margin-top: 50px;
    a{
      color: black;
      font-weight: 600;
      font-size: 26px;
    }
  }

  #sign_in_inner{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
