#events{
  .appointments{
    list-style: none;
    padding-left: 20px;

    li{
      margin-bottom: 20px;
      border-bottom: 1px solid $dark;

      .name{
        font-weight: 600;
      }

      .controls{
        margin-left: 50px;

        .stream_token{
          text-align: center;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }

      span{
        margin-right: 30px;
      }

      span:last-child{
        margin-right: 0px;
      }
    }
  }
}
