//--- Main Nav ---
  #main_nav{
    margin-bottom: 20px;
    background-color: $primary;

    a.nav-link{
      color: $text_color_1;
    }

    a.navbar-brand{
      color: $text_color_1;
      padding: 0px;

      img{
        height: 30px;
      }
    }
  }
// end Main Nav

//--- Flash ---
.flash{
  text-align: center;
  background-color: white;
  border-bottom: 1px solid $dark;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.flash.notice{
  color: $dark;
}

.flash.alert{
  color: $danger;
}

// end Flash ---

//--- Footer ---

#footer{
  height: 200px;
  background-color: #ccc;
  /* $primary: ; */

  border-top: 1px solid #8589E6;
  width: 100%;
  padding-top: 30px;
  color: #555;
}
